<!-- Sección de Título y Descripción -->
  <header class="firts_description">
    <h1>GeekVault</h1>
    <p>
      Bienvenido a GeekVault ⚡. Aquí podrás gestionar y explorar tus
      colecciones de figuras, cómics, videojuegos y todo lo relacionado
      al universo geek. 🚀
    </p>
  </header>

  <!-- Buscador -->
  <section class="search-section">
    <input
      type="text"
      placeholder="Buscar en GeekVault..."
      class="search-input"
    />
  </section>

 <!-- Botones de acción -->
<section class="admin_actions">
  <button class="btn add" [routerLink]="['/add_franchise']">
    Agregar IP / Franquicia / Universo
  </button>
  <button class="btn modify">
    Modificar IP / Franquicia / Universo
  </button>
  <button class="btn delete">
    Eliminar IP / Franquicia / Universo
  </button>
</section>

